.profile {
    margin-left: 20%;
    width: 250px;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 20%;
}
.roundItem {
    background-color: #35363A;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 15vmax;
    height: 5.5vmax;
    justify-content: center;
	display: flex!important;
    align-items: center!important;
    width: 90%;
}
.inputt{
    margin-left: 5%;
    font-size: 2.5vmax;
    color: white;
}
.input{
    font-size: 8vmax;
    color: black;
}
.iconLogin {
    margin-left: 1%;
    color: #888888;
    font-size: 4vmax;
}
.buttonLogin {
    margin-bottom: 2%;
    height: 7%;
    width: 90%;
    height: 6vmax;
    margin-left: 5%;
    font-size: 2vmax;
    --border-radius: 30px !important;
}
ion-item {
    --border-color: #6fbf4c;
    --highlight-color-focused: #127322;
}
.ion-color-claro {
    --ion-color-base: var(--ion-color-claro);
    --ion-color-base-rgb: var(--ion-color-claro-rgb);
    --ion-color-contrast: var(--ion-color-claro-contrast);
    --ion-color-contrast-rgb: var(--ion-color-claro-contrast-rgb);
    --ion-color-shade: var(--ion-color-claro-shade);
    --ion-color-tint: var(--ion-color-claro-tint);
}
.fontBlack {
    font-weight: bold;
}
.buttonBack {
    position: absolute;
    --border-radius: 40%;
    margin-left: 2%;
    margin-top: 1%;
    font-size: 4vmax;
    color: white;
}
.space {
    margin-bottom: 10vmax;
}
.code {
    background-color: #7ED956;
    border-radius: 20px;
    height: 10vmax;
    width: 20%;
    float: left;
    margin-left: 1%;
    text-align: center;
    justify-content: center;
	display: flex!important;
 	align-items: center!important;
}
.contenDiv {
    margin-left: 14%;
    margin-bottom: 2%;
}
.mess {
    margin-left: 5%;
    font-size: 2vmax;
    margin-right: 5%;
    margin-bottom: 8%;
    font-weight: 100; 
    color: white;
}
ion-content{
    --ion-background-color:#201F24;
}