.profile {
    margin-left: 20%;
    width: 80%;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 5%;
}
.roundItem {
    background-color: #35363A;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 5.5vmax;
    justify-content: center;
	display: flex!important;
 	align-items: center!important;
}
.input{
    margin-left: 5%;
    font-size: 2.5vmax;
    color: white;
}
.iconLogin {
    margin-left: 1%;
    color: #888888;
    font-size: 4vmax;
}
.buttonLogin {
    height: 7%;
    width: 90%;
    height: 6vmax;
    margin-left: 5%;
    font-size: 2vmax;
    --border-radius: 30px !important;
}
.buttonMargin {
    margin-bottom: 10%;
    margin-top: 2%;
}
.fontBlack {
    font-weight: bold;
}
.enlace {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #888888;
    margin-bottom: 7%;
    font-size: 2vmax;
}
.lineOr {
    height: 2px;
    width: 40%;
    background-color: #888888;
    float: left;
    margin-top: 3%;
    margin-left: 5.6%;
}
.lineOr2 {
    height: 2px;
    width: 40%;
    background-color: #888888;
    float: left;
    margin-top: 3%;
}
.or {
    margin-left: 2.8%;
    margin-right: 2.8%;
    margin-top: 1%;
    float: left;
    color: #888888;
}
.lineTot {
    margin-top: 3%;
}
.ion-color-claro {
    --ion-color-base: var(--ion-color-claro);
    --ion-color-base-rgb: var(--ion-color-claro-rgb);
    --ion-color-contrast: var(--ion-color-claro-contrast);
    --ion-color-contrast-rgb: var(--ion-color-claro-contrast-rgb);
    --ion-color-shade: var(--ion-color-claro-shade);
    --ion-color-tint: var(--ion-color-claro-tint);
}
.ion-color-oscuro {
    --ion-color-base: var(--ion-color-oscuro);
    --ion-color-base-rgb: var(--ion-color-oscuro-rgb);
    --ion-color-contrast: var(--ion-color-oscuro-contrast);
    --ion-color-contrast-rgb: var(--ion-color-oscuro-contrast-rgb);
    --ion-color-shade: var(--ion-color-oscuro-shade);
    --ion-color-tint: var(--ion-color-oscuro-tint);
}
ion-item {
    --border-color: #6fbf4c;
    --highlight-color-focused: #127322;
}
.conte {
    bottom: 0px;
    margin-bottom: 40vw;
}
.toast {
    text-align: center;
}
ion-content{
    --overflow: hidden;
    --ion-background-color:#201F24;
}
.passwordIcon{
    font-size: 2.5vmax;
    position: relative !important;
    margin: 0 auto !important;
    color: #69696B;
 }